<main class='main-content bgc-grey-100'>
  <div id='mainContent'>
    <div class="row gap-20 masonry pos-r">
      <div class="masonry-sizer col-md-6"></div>
      {{!-- Data Pembangkit --}}
      <div class="masonry-item col-12">
        <div class="bgc-white bd bdrs-3 p-20">
          <h4 class="mB-20">Data Unit</h4>
          <table id="table-pembangkit-home" class="table" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>Unit Pelaksana Pembangkit (UPK)</th>
                <th>Daya Mampu Pasok</th>
                <th>Daya Mampu Netto</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
              </tr>
              <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      {{!-- Top 10 NPHR Thermal Power Plant --}}
      <div class="masonry-item col-6">
        <div class="bd bgc-white bd bdrs-3 p-20">
          <h4 class="mB-10">NPHR Thermal Power Plant</h4>
          <h5 class="mB-20">Top 10 Kontributor NPHR</h5>
          <form action="">
            <div class="form-group row">
              <label for="tahun" class="col-sm-3 col-form-label">Pilih tahun</label>
              <div class="col-sm-4">
                <div id="datepickerTahun" class="input-group date" data-date-format="yyyy">
                  <input id="tahun" class="form-control" type="text" readonly />
                  <div class="input-group-append">
                    <span class="input-group-text input-group-addon"><i class="ti-calendar"></i></span>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-4">
                <button class="btn btn-outline-primary">Tampilkan data</button>
              </div>
            </div>
          </form>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ULPL</th>
                <th scope="col">Tara Kalor (NPHR)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>-</td>
                <td>-</td>
              </tr>
              <tr>
                <td>-</td>
                <td>-</td>
              </tr>
              <tr>
                <td>-</td>
                <td>-</td>
              </tr>
              <tr>
                <td>-</td>
                <td>-</td>
              </tr>
              <tr>
                <td>-</td>
                <td>-</td>
              </tr>
              <tr>
                <td>-</td>
                <td>-</td>
              </tr>
              <tr>
                <td>-</td>
                <td>-</td>
              </tr>
              <tr>
                <td>-</td>
                <td>-</td>
              </tr>
              <tr>
                <td>-</td>
                <td>-</td>
              </tr>
              <tr>
                <td>-</td>
                <td>-</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      {{!-- Pemakaian Sendiri --}}
      <div class="masonry-item col-md-6">
        <div class="bd bgc-white bd bdrs-3 p-20">
          <h4 class="mB-20">Pemakaian Sendiri</h4>
          <div class="layer">
            <canvas id="pemakaian-chart-home" width="800" height="450"></canvas>
          </div>
        </div>
      </div>
      {{!-- Maturity Level --}}
      <div class="masonry-item col-md-6">
        <div class="bd bgc-white bd bdrs-3 p-20">
          <h4>Realisasi Maturity Level</h4>
          <h5 class="mB-20">Semester 2 Tahun 2019</h5>
          <table class="table">
            <thead>
              <tr>
                <th>UPK</th>
                <th>ML Target</th>
                <th>ML Realisasi</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">UPK Belawan</th>
                <td>-</td>
                <td>-</td>
              </tr>
              <tr>
                <th scope="row">UPK Pangkalan Susu</th>
                <td>-</td>
                <td>-</td>
              </tr>
              <tr>
                <th scope="row">UPK Nagan Raya</th>
                <td>-</td>
                <td>-</td>
              </tr>
              <tr>
                <th scope="row">UPK Labuhan Angin</th>
                <td>-</td>
                <td>-</td>
              </tr>
              <tr>
                <th scope="row">UPDK Pekanbaru</th>
                <td>-</td>
                <td>-</td>
              </tr>
              <tr>
                <th scope="row">UPDK Pandan</th>
                <td>-</td>
                <td>-</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
<script>
  $(document).ready(function () {
    $('#table-pembangkit-home').DataTable({
      searching: false
    });
  });
  new Chart(document.getElementById("pemakaian-chart-home"), {
    type: 'pie',
    data: {
      labels: ["PLTU Batubara", "PLTG Gas", "PLTU Gas", "PLTD Gas", "PLTD Minyak"],
      datasets: [{
        label: "Percentage",
        backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
        data: [81, 2, 4, 4, 1]
      }]
    },
    options: {
      title: {
        display: false
      },
      tooltips: {
        mode: 'label',
        callbacks: {
          label: function (tooltipItem, data) {
            return data['datasets'][0]['data'][tooltipItem['index']] + '%';
          }
        }
      },
      legend: {
        position: 'right'
      }
    }
  });
</script>