<div id="loader">
  <div class="spinner"></div>
</div>
<script>
  window.addEventListener('load', function load() {
    const loader = document.getElementById('loader');
    setTimeout(function() {
      loader.classList.add('fadeOut');
    }, 300);
  });
</script>
<div>
  <!-- #Left Sidebar ==================== -->
  <div class="sidebar">
    <div class="sidebar-inner">
      <!-- ### $Sidebar Header ### -->
      <div class="sidebar-logo">
        <div class="peers ai-c fxw-nw">
          <div class="peer peer-greed">
            <a class="sidebar-link td-n" href="/">
              <div class="peers ai-c fxw-nw">
                <div class="peer">
                  <div class="logo">
                    <img src="images/logo.png" alt="" style="height: 60px;">
                  </div>
                </div>
                <div class="peer peer-greed">
                  <h5 class="mB-0 logo-text">SIMANIS</h5>
                <h6 class="small mB-0 logo-text">Sistem Manajemen Efisiensi</h6>
                </div>
              </div>
            </a>
          </div>
          <div class="peer">
            <div class="mobile-toggle sidebar-toggle">
              <a href="" class="td-n">
                <i class="ti-arrow-circle-left"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- ### $Sidebar Menu ### -->
      <ul class="sidebar-menu scrollable pos-r">
        <li class="nav-item mT-20">
          <a class="sidebar-link" href="/">
            <span class="icon-holder">
              <i class="ti-home c-blue-500"></i>
            </span>
            <span class="title">Beranda</span>
          </a>
        </li>
        <li class="nav-item">
          <a class='sidebar-link' href="/data-unit">
            <span class="icon-holder">
              <i class="c-teal-500 ti-view-list-alt"></i>
            </span>
            <span class="title">Data Unit</span>
          </a>
        </li>
        <li class="nav-item">
          <a class='sidebar-link' href="/data-nphr">
            <span class="icon-holder">
              <i class="c-orange-500 ti-layout-list-thumb"></i> 
            </span>
            <span class="title">Data NPHR</span>
          </a>
        </li>
        <li class="nav-item">
          <a class='sidebar-link' href="/analisa-nphr">
            <span class="icon-holder">
              <i class="c-indigo-500 ti-bar-chart"></i>
            </span>
            <span class="title">Analisis NPHR</span>
          </a>
        </li>
        <li class="nav-item">
          <a class='sidebar-link' href="/pemakaian-sendiri">
            <span class="icon-holder">
              <i class="c-light-blue-500 ti-pulse"></i>
            </span>
            <span class="title">Pemakaian Sendiri</span>
          </a>
        </li>
        <li class="nav-item">
          <a class='sidebar-link' href="/maturity-level">
            <span class="icon-holder">
              <i class="c-purple-500 ti-stats-up"></i>
            </span>
            <span class="title">Maturity Level</span>
          </a>
        </li>
        <li class="nav-item">
          <a class='sidebar-link' href="/laporan">
            <span class="icon-holder">
              <i class="c-red-500 ti-files"></i> 
            </span>
            <span class="title">Laporan</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="sidebar-link" href="/download">
            <span class="icon-holder">
              {{!-- <i class="fas fa-download text-primary-faded"></i>  --}}
              <span class="ti-download"></span>
            </span>
            <span class="title">Download</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- #Main ============================ -->
  <div class="page-container">
    <!-- ### Topbar ### -->
    <div class="header navbar">
      <div class="header-container">
        <ul class="nav-right">
          <li class="notifications mr-3">
            <a href="/signin">
              Logout
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- ### Screen Content ### -->
    <main class='main-content bgc-grey-100'>
      <div id='mainContent'>
        <div class="row gap-20 masonry pos-r">
          <div class="masonry-sizer col-md-6"></div>
          <div class="masonry-item col-md-8">
            <div class="bgc-white bd bdrs-3 p-20">
              <h4 class="c-grey-900 mB-30">Input Data Pembangkit</h4>
              <form>
                <div class="form-group row">
                  <label for="upk" class="col-sm-4 col-form-label">Unit Pelaksana Pembangkit (UPK)</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="upk" placeholder="UPK Belawan" disabled>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="ulpl" class="col-sm-4 col-form-label">Unit Layanan Pusat Listrik (ULPL)</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="ulpl" placeholder="">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="tahunPembuatanUnit" class="col-sm-4 col-form-label">Tahun pembuatan</label>
                  <div class="col-sm-8">
                    <div id="datepickerTahun" class="input-group date" data-date-format="yyyy">
                      <input id="tahunPembuatanUnit" class="form-control" type="text" readonly />
                      <div class="input-group-append">
                        <span class="input-group-text input-group-addon"><i class="ti-calendar"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="statusUnit" class="col-sm-4 col-form-label">Status Unit</label>
                  <div class="col-sm-8">
                    <select id="statusUnit" class="form-control">
                      <option selected="selected">Pilih status unit ...</option>
                      <option value="normal">Normal Operation</option>
                      <option value="mothballed">Mothballed</option>
                      <option value="retired">Retired</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="dayaPasok" class="col-sm-4 col-form-label">Daya Mampu Pasok (MW)</label>
                  <div class="col-sm-8">
                    <input type="number" class="form-control" id="dayaPasok" placeholder="">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="dayaMampu" class="col-sm-4 col-form-label">Daya Mampu Netto (MW)</label>
                  <div class="col-sm-8">
                    <input type="number" class="form-control" id="dayaMampu" placeholder="">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="manufaktur" class="col-sm-4 col-form-label">Manufaktur</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="manufaktur" placeholder="">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="tipeMesin" class="col-sm-4 col-form-label">Tipe Mesin</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="tipeMesin" placeholder="">
                  </div>
                </div>
                <div class="form-group row mT-30 text-right">
                  <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary">Simpan</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
<script>
  $(function () {
    $("#datepickerTahun").datepicker({ 
      autoclose: true, 
      todayHighlight: true,
      format: "yyyy",
      startView: "years", 
      minViewMode: "years"
    }).datepicker('update', new Date());
  });
</script>