<div id="loader">
  <div class="spinner"></div>
</div>
<script>
  window.addEventListener('load', function load() {
    const loader = document.getElementById('loader');
    setTimeout(function() {
      loader.classList.add('fadeOut');
    }, 300);
  });
</script>
<div>
  <!-- #Left Sidebar ==================== -->
  <div class="sidebar">
    <div class="sidebar-inner">
      <!-- ### $Sidebar Header ### -->
      <div class="sidebar-logo">
        <div class="peers ai-c fxw-nw">
          <div class="peer peer-greed">
            <a class="sidebar-link td-n" href="/">
              <div class="peers ai-c fxw-nw">
                <div class="peer">
                  <div class="logo">
                    <img src="images/logo.png" alt="" style="height: 60px;">
                  </div>
                </div>
                <div class="peer peer-greed">
                  <h5 class="mB-0 logo-text">SIMANIS</h5>
                <h6 class="small mB-0 logo-text">Sistem Manajemen Efisiensi</h6>
                </div>
              </div>
            </a>
          </div>
          <div class="peer">
            <div class="mobile-toggle sidebar-toggle">
              <a href="" class="td-n">
                <i class="ti-arrow-circle-left"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- ### $Sidebar Menu ### -->
      <ul class="sidebar-menu scrollable pos-r">
        <li class="nav-item mT-20">
          <a class="sidebar-link" href="/">
            <span class="icon-holder">
              <i class="ti-home c-blue-500"></i>
            </span>
            <span class="title">Beranda</span>
          </a>
        </li>
        <li class="nav-item">
          <a class='sidebar-link' href="/data-unit">
            <span class="icon-holder">
              <i class="c-teal-500 ti-view-list-alt"></i>
            </span>
            <span class="title">Data Unit</span>
          </a>
        </li>
        <li class="nav-item">
          <a class='sidebar-link' href="/data-nphr">
            <span class="icon-holder">
              <i class="c-orange-500 ti-layout-list-thumb"></i> 
            </span>
            <span class="title">Data NPHR</span>
          </a>
        </li>
        <li class="nav-item">
          <a class='sidebar-link' href="/analisa-nphr">
            <span class="icon-holder">
              <i class="c-indigo-500 ti-bar-chart"></i>
            </span>
            <span class="title">Analisis NPHR</span>
          </a>
        </li>
        <li class="nav-item">
          <a class='sidebar-link' href="/pemakaian-sendiri">
            <span class="icon-holder">
              <i class="c-light-blue-500 ti-pulse"></i>
            </span>
            <span class="title">Pemakaian Sendiri</span>
          </a>
        </li>
        <li class="nav-item">
          <a class='sidebar-link' href="/maturity-level">
            <span class="icon-holder">
              <i class="c-purple-500 ti-stats-up"></i>
            </span>
            <span class="title">Maturity Level</span>
          </a>
        </li>
        <li class="nav-item">
          <a class='sidebar-link' href="/laporan">
            <span class="icon-holder">
              <i class="c-red-500 ti-files"></i> 
            </span>
            <span class="title">Laporan</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="sidebar-link" href="/download">
            <span class="icon-holder">
              {{!-- <i class="fas fa-download text-primary-faded"></i>  --}}
              <span class="ti-download"></span>
            </span>
            <span class="title">Download</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- #Main ============================ -->
  <div class="page-container">
    <!-- ### Topbar ### -->
    <div class="header navbar">
      <div class="header-container">
        <ul class="nav-right">
          <li class="notifications mr-3">
            <a href="/signin">
              Logout
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- ### Screen Content ### -->
    <main class='main-content bgc-grey-100'>
      <div id='mainContent'>
        <div class="row gap-20">
          <div class="col-md-9">
            <div class="bgc-white bd bdrs-3 p-20">
              <h4 class="c-grey-900 mB-30">Input Data Analisa NPHR</h4>
              <form>
                <div class="form-group row">
                  <label for="bulanTahunNPHR" class="col-sm-4 col-form-label">Bulan dan Tahun</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="bulanTahunNPHR" placeholder="mm-yyyy">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="upk" class="col-sm-4 col-form-label">Unit Pelaksana Pembangkit (UPK)</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="upk" placeholder="UPK Belawan" disabled>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="ulpl" class="col-sm-4 col-form-label">Unit Layanan Pusat Listrik (ULPL)</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="ulpl" placeholder="">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="jenisPembangkit" class="col-sm-4 col-form-label">Jenis Pembangkit</label>
                  <div class="col-sm-8">
                    <select class="form-control" id="jenisPembangkitSelector">
                      <option selected="selected">Pilih jenis pembangkit...</option>
                      <option value="pltu">Pembangkit Listrik Tenaga Uap (PLTU)</option>
                      <option value="pltg">Pembangkit Listrik Tenaga Gas (PLTG)</option>
                    </select>
                  </div>
                </div>
                <div id="pltu" class="pembangkit-form mT-20" style="display:none">
                  <h5 class="mB-10">Operator Controllable</h5>
                  <div class="form-group row">
                    <label for="volumeBatubara" class="col-sm-4 col-form-label">Flue Gas Temp Out AH (&#8451;)</label>
                    <div class="col-sm-8">
                      <div class="row">
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Actual</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Baseline</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="volumeBatubara" class="col-sm-4 col-form-label">Gas Outlet AH (%)</label>
                    <div class="col-sm-8">
                      <div class="row">
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Actual</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Baseline</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="volumeBatubara" class="col-sm-4 col-form-label">Main Steam Temp (&#8451;)</label>
                    <div class="col-sm-8">
                      <div class="row">
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Actual</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Baseline</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="volumeBatubara" class="col-sm-4 col-form-label">Hot Reheat Temperature (&#8451;)</label>
                    <div class="col-sm-8">
                      <div class="row">
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Actual</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Baseline</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="volumeBatubara" class="col-sm-4 col-form-label">Main Steam Press (MPa)</label>
                    <div class="col-sm-8">
                      <div class="row">
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Actual</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Baseline</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="volumeBatubara" class="col-sm-4 col-form-label">SH Spray Flow (% MSF)</label>
                    <div class="col-sm-8">
                      <div class="row">
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Actual</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Baseline</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="volumeBatubara" class="col-sm-4 col-form-label">Reheat Spray Flow (% MSF)</label>
                    <div class="col-sm-8">
                      <div class="row">
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Actual</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Baseline</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <h5 class="mB-10">Unit Controllable</h5>
                  <div class="form-group row">
                    <label for="volumeBatubara" class="col-sm-4 col-form-label">Vacuum Condenser (kPa)</label>
                    <div class="col-sm-8">
                      <div class="row">
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Actual</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Baseline</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="volumeBatubara" class="col-sm-4 col-form-label">Aux Power (%)</label>
                    <div class="col-sm-8">
                      <div class="row">
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Actual</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Baseline</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="volumeBatubara" class="col-sm-4 col-form-label">Final Feed Water Temp (&#8451;)</label>
                    <div class="col-sm-8">
                      <div class="row">
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Actual</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Baseline</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="volumeBatubara" class="col-sm-4 col-form-label">Unburned Carbon (%)</label>
                    <div class="col-sm-8">
                      <div class="row">
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Actual</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Baseline</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <h5 class="mB-10">Turbine Cycle Components</h5>
                  <div class="form-group row">
                    <label for="volumeBatubara" class="col-sm-4 col-form-label">HP Turbine Efficiency (%)</label>
                    <div class="col-sm-8">
                      <div class="row">
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Actual</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Baseline</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="volumeBatubara" class="col-sm-4 col-form-label">IP Turbine Efficiency (%)</label>
                    <div class="col-sm-8">
                      <div class="row">
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Actual</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Baseline</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="volumeBatubara" class="col-sm-4 col-form-label">LP Turbine Efficiency (%)</label>
                    <div class="col-sm-8">
                      <div class="row">
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Actual</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Baseline</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="volumeBatubara" class="col-sm-4 col-form-label">BEP Efficiency (%)</label>
                    <div class="col-sm-8">
                      <div class="row">
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Actual</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Baseline</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="volumeBatubara" class="col-sm-4 col-form-label">TTD HPH1 (&#8451;)</label>
                    <div class="col-sm-8">
                      <div class="row">
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Actual</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Baseline</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="volumeBatubara" class="col-sm-4 col-form-label">TTD HPH2 (&#8451;)</label>
                    <div class="col-sm-8">
                      <div class="row">
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Actual</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Baseline</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="volumeBatubara" class="col-sm-4 col-form-label">TTD HPH3 (&#8451;)</label>
                    <div class="col-sm-8">
                      <div class="row">
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Actual</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Baseline</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="volumeBatubara" class="col-sm-4 col-form-label">TTD LPH5 (&#8451;)</label>
                    <div class="col-sm-8">
                      <div class="row">
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Actual</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Baseline</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="volumeBatubara" class="col-sm-4 col-form-label">TTD LPH6 (&#8451;)</label>
                    <div class="col-sm-8">
                      <div class="row">
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Actual</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Baseline</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="volumeBatubara" class="col-sm-4 col-form-label">TTD LPH7 (&#8451;)</label>
                    <div class="col-sm-8">
                      <div class="row">
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Actual</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Baseline</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <h5 class="mB-10">Boiler Components</h5>
                  <div class="form-group row">
                    <label for="volumeBatubara" class="col-sm-4 col-form-label">Moisture in Coal (%)</label>
                    <div class="col-sm-8">
                      <div class="row">
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Actual</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Baseline</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="volumeBatubara" class="col-sm-4 col-form-label">Hydrogen in Coal (%)</label>
                    <div class="col-sm-8">
                      <div class="row">
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Actual</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Baseline</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="volumeBatubara" class="col-sm-4 col-form-label">Air Heater Leakage (%)</label>
                    <div class="col-sm-8">
                      <div class="row">
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Actual</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Baseline</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="volumeBatubara" class="col-sm-4 col-form-label">Air Heater Effectiveness (%)</label>
                    <div class="col-sm-8">
                      <div class="row">
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Actual</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Baseline</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="volumeBatubara" class="col-sm-4 col-form-label">FD Fan Inlet Air Temp (&#8451;)</label>
                    <div class="col-sm-8">
                      <div class="row">
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Actual</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Baseline</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="volumeBatubara" class="col-sm-4 col-form-label">Mill Out Air Temperature (&#8451;)</label>
                    <div class="col-sm-8">
                      <div class="row">
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Actual</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Baseline</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <h5 class="mB-10">Make Up</h5>
                  <div class="form-group row">
                    <label for="volumeBatubara" class="col-sm-4 col-form-label">Make Up Water (T/h)</label>
                    <div class="col-sm-8">
                      <div class="row">
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Actual</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                        <div class="col-md-2">
                          <label for="" class="pL-0 col-sm-4 col-form-label">Baseline</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <h5 class="mB-10">Asumsi Produksi</h5>
                  <div class="form-group row">
                    <label for="hargaBatubara" class="col-sm-4 col-form-label">Harga Batubara</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="hargaBatubara" placeholder="">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="nilaiKalorBatubara" class="col-sm-4 col-form-label">Nilai Kalor Batubara</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="nilaiKalorBatubara" placeholder="">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="produksiHarian" class="col-sm-4 col-form-label">Average Produksi Listrik Harian</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="produksiHarian" placeholder="">
                    </div>
                  </div>
                </div>
                <div id="pltg" class="pembangkit-form mT-30" style="display:none">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">GTG Plant Efficiency (%)</label>
                    <div class="col-sm-8">
                      <div class="row">
                        <div class="col-md-2">
                          <label for="baselineGTG" class="pL-0 col-sm-4 col-form-label">Actual</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="baselineGTG" placeholder="">
                        </div>
                        <div class="col-md-2">
                          <label for="actualGTG" class="pL-0 col-sm-4 col-form-label">Baseline</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="actualGTG" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Compressor Efficiency (%)</label>
                    <div class="col-sm-8">
                      <div class="row">
                        <div class="col-md-2">
                          <label for="baselineGTG" class="pL-0 col-sm-4 col-form-label">Actual</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="baselineGTG" placeholder="">
                        </div>
                        <div class="col-md-2">
                          <label for="actualGTG" class="pL-0 col-sm-4 col-form-label">Baseline</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="actualGTG" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Air Inlet Temperature (&#8457;)</label>
                    <div class="col-sm-8">
                      <div class="row">
                        <div class="col-md-2">
                          <label for="baselineGTG" class="pL-0 col-sm-4 col-form-label">Actual</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="baselineGTG" placeholder="">
                        </div>
                        <div class="col-md-2">
                          <label for="actualGTG" class="pL-0 col-sm-4 col-form-label">Baseline</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="actualGTG" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Air Inlet DP Filter (inH2O)</label>
                    <div class="col-sm-8">
                      <div class="row">
                        <div class="col-md-2">
                          <label for="baselineGTG" class="pL-0 col-sm-4 col-form-label">Actual</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="baselineGTG" placeholder="">
                        </div>
                        <div class="col-md-2">
                          <label for="actualGTG" class="pL-0 col-sm-4 col-form-label">Baseline</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="actualGTG" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Exhaust Temperature (&#8457;)</label>
                    <div class="col-sm-8">
                      <div class="row">
                        <div class="col-md-2">
                          <label for="baselineGTG" class="pL-0 col-sm-4 col-form-label">Actual</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="baselineGTG" placeholder="">
                        </div>
                        <div class="col-md-2">
                          <label for="actualGTG" class="pL-0 col-sm-4 col-form-label">Baseline</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="actualGTG" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Compressor Disch. Pressure (PSI)</label>
                    <div class="col-sm-8">
                      <div class="row">
                        <div class="col-md-2">
                          <label for="baselineGTG" class="pL-0 col-sm-4 col-form-label">Actual</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="baselineGTG" placeholder="">
                        </div>
                        <div class="col-md-2">
                          <label for="actualGTG" class="pL-0 col-sm-4 col-form-label">Baseline</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="actualGTG" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Compressor Disch. Temperature (&#8457;)</label>
                    <div class="col-sm-8">
                      <div class="row">
                        <div class="col-md-2">
                          <label for="baselineGTG" class="pL-0 col-sm-4 col-form-label">Actual</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="baselineGTG" placeholder="">
                        </div>
                        <div class="col-md-2">
                          <label for="actualGTG" class="pL-0 col-sm-4 col-form-label">Baseline</label>
                        </div>
                        <div class="col-md-4">
                          <input type="number" class="form-control" id="actualGTG" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <h5 class="mB-10">Asumsi Produksi</h5>
                  <div class="form-group row">
                    <label for="hargaGas" class="col-sm-4 col-form-label">Harga Gas</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="hargaGas" placeholder="">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="nilaiKalorGas" class="col-sm-4 col-form-label">Nilai Kalor Gas</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="nilaiKalorGas" placeholder="">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="produksiHarian" class="col-sm-4 col-form-label">Average Produksi Listrik Harian</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="produksiHarian" placeholder="">
                    </div>
                  </div>
                </div>
                <div class="form-group row mT-30 text-right">
                  <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary">Simpan</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
<script>
  $(function() {
      $('#jenisPembangkitSelector').change(function(){
          $('.pembangkit-form').hide();
          $('#' + $(this).val()).show();
      });
  });
</script>