<div id="loader">
  <div class="spinner"></div>
</div>
<script>
  window.addEventListener('load', function load() {
    const loader = document.getElementById('loader');
    setTimeout(function() {
      loader.classList.add('fadeOut');
    }, 300);
  });
</script>
<div>
  <!-- #Left Sidebar ==================== -->
  <div class="sidebar">
    <div class="sidebar-inner">
      <!-- ### $Sidebar Header ### -->
      <div class="sidebar-logo">
        <div class="peers ai-c fxw-nw">
          <div class="peer peer-greed">
            <a class="sidebar-link td-n" href="/">
              <div class="peers ai-c fxw-nw">
                <div class="peer">
                  <div class="logo">
                    <img src="images/logo.png" alt="" style="height: 60px;">
                  </div>
                </div>
                <div class="peer peer-greed">
                  <h5 class="mB-0 logo-text">SIMANIS</h5>
                <h6 class="small mB-0 logo-text">Sistem Manajemen Efisiensi</h6>
                </div>
              </div>
            </a>
          </div>
          <div class="peer">
            <div class="mobile-toggle sidebar-toggle">
              <a href="" class="td-n">
                <i class="ti-arrow-circle-left"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- ### $Sidebar Menu ### -->
      <ul class="sidebar-menu scrollable pos-r">
        <li class="nav-item mT-20">
          <a class="sidebar-link" href="/">
            <span class="icon-holder">
              <i class="ti-home c-blue-500"></i>
            </span>
            <span class="title">Beranda</span>
          </a>
        </li>
        <li class="nav-item">
          <a class='sidebar-link' href="/data-unit">
            <span class="icon-holder">
              <i class="c-teal-500 ti-view-list-alt"></i>
            </span>
            <span class="title">Data Unit</span>
          </a>
        </li>
        <li class="nav-item">
          <a class='sidebar-link' href="/data-nphr">
            <span class="icon-holder">
              <i class="c-orange-500 ti-layout-list-thumb"></i> 
            </span>
            <span class="title">Data NPHR</span>
          </a>
        </li>
        <li class="nav-item">
          <a class='sidebar-link' href="/analisa-nphr">
            <span class="icon-holder">
              <i class="c-indigo-500 ti-bar-chart"></i>
            </span>
            <span class="title">Analisis NPHR</span>
          </a>
        </li>
        <li class="nav-item">
          <a class='sidebar-link' href="/pemakaian-sendiri">
            <span class="icon-holder">
              <i class="c-light-blue-500 ti-pulse"></i>
            </span>
            <span class="title">Pemakaian Sendiri</span>
          </a>
        </li>
        <li class="nav-item">
          <a class='sidebar-link' href="/maturity-level">
            <span class="icon-holder">
              <i class="c-purple-500 ti-stats-up"></i>
            </span>
            <span class="title">Maturity Level</span>
          </a>
        </li>
        <li class="nav-item">
          <a class='sidebar-link' href="/laporan">
            <span class="icon-holder">
              <i class="c-red-500 ti-files"></i> 
            </span>
            <span class="title">Laporan</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="sidebar-link" href="/download">
            <span class="icon-holder">
              {{!-- <i class="fas fa-download text-primary-faded"></i>  --}}
              <span class="ti-download"></span>
            </span>
            <span class="title">Download</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- #Main ============================ -->
  <div class="page-container">
    <!-- ### Topbar ### -->
    <div class="header navbar">
      <div class="header-container">
        <ul class="nav-right">
          <li class="notifications mr-3">
            <a href="/signin">
              Logout
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- ### Screen Content ### -->
    <main class='main-content bgc-grey-100'>
      <div id='mainContent'>
        <div class="row gap-20">
          <div class="col-md-8">
            <h3 class="c-grey-900 mB-15">Input Data Maturity Level</h3>
            <form action="">
              <div class="bgc-white bd bdrs-3 p-20">
                <div class="form-group row">
                  <label for="semester" class="col-sm-4 col-form-label">Semester</label>
                  <div class="col-sm-8">
                    <select class="form-control" id="semester">
                      <option selected="selected">Pilih semester...</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="tahunMaturity" class="col-sm-4 col-form-label">Tahun</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="tahunMaturity" placeholder="yyyy">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="upk" class="col-sm-4 col-form-label">Unit Pelaksana Pembangkit (UPK)</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="upk" placeholder="UPK Belawan" disabled>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="ulpl" class="col-sm-4 col-form-label">Unit Layanan Pusat Listrik (ULPL)</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="ulpl" placeholder="">
                  </div>
                </div>
              </div>
              <div class="bgc-white bd bdrs-3 p-20 mT-20">
                <div class="form-group row">
                  <label for="pertanyaan" class="col-sm-4 col-form-label">Terdapat PIC yang bertanggungjawab melakukan data collection</label>
                  <div class="col-sm-8">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="Ya">
                      <label class="form-check-label" for="exampleRadios1">
                        Ya
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="Tidak">
                      <label class="form-check-label" for="exampleRadios2">
                        Tidak
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="evidence" class="col-sm-4 col-form-label">Upload Evidence</label>
                  <div class="col-sm-8">
                    <input type="file" class="form-control-file" id="evidence" placeholder="">
                  </div>
                </div>

              </div>
              <div class="form-group row mT-30 text-right">
                  <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary">Simpan</button>
                  </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
<script>
  $(function() {
      $('#jenisPembangkitSelector').change(function(){
          $('.pembangkit-form').hide();
          $('#' + $(this).val()).show();
      });
  });
</script>