<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link href="stylesheets/font-awesome.min.css" rel="stylesheet">
    <link href="stylesheets/style.css" rel="stylesheet">
    <link href="stylesheets/custom.css" rel="stylesheet" >
    <script type="text/javascript" src="javascripts/vendor.js"></script>
    <script type="text/javascript" src="javascripts/bundle.js"></script>
  </head>
  <body class="app">
    {{{body}}}
  </body>
</html>
