<div id="loader">
  <div class="spinner"></div>
</div>
<script>
  window.addEventListener('load', function load() {
    const loader = document.getElementById('loader');
    setTimeout(function () {
      loader.classList.add('fadeOut');
    }, 300);
  });
</script>
<div>
  <!-- #Left Sidebar ==================== -->
  <div class="sidebar">
    <div class="sidebar-inner">
      <!-- ### $Sidebar Header ### -->
      <div class="sidebar-logo">
        <div class="peers ai-c fxw-nw">
          <div class="peer peer-greed">
            <a class="sidebar-link td-n" href="/">
              <div class="peers ai-c fxw-nw">
                <div class="peer">
                  <div class="logo">
                    <img src="/images/logo.png" alt="" style="height: 60px;">
                  </div>
                </div>
                <div class="peer peer-greed">
                  <h5 class="mB-0 logo-text">SIMANIS</h5>
                  <h6 class="small mB-0 logo-text">Sistem Manajemen Efisiensi</h6>
                </div>
              </div>
            </a>
          </div>
          <div class="peer">
            <div class="mobile-toggle sidebar-toggle">
              <a href="" class="td-n">
                <i class="ti-arrow-circle-left"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- ### $Sidebar Menu ### -->
      <ul class="sidebar-menu scrollable pos-r">
        <li class="nav-item mT-20">
          <a class="sidebar-link" href="/">
            <span class="icon-holder">
              <i class="ti-home c-blue-500"></i>
            </span>
            <span class="title">Beranda</span>
          </a>
        </li>
        <li class="nav-item">
          <a class='sidebar-link' href="/unit">
            <span class="icon-holder">
              <i class="c-teal-500 ti-view-list-alt"></i>
            </span>
            <span class="title">Data Unit</span>
          </a>
        </li>
        <li class="nav-item">
          <a class='sidebar-link' href="/data-nphr">
            <span class="icon-holder">
              <i class="c-orange-500 ti-layout-list-thumb"></i>
            </span>
            <span class="title">Data NPHR</span>
          </a>
        </li>
        <li class="nav-item">
          <a class='sidebar-link' href="/analisa-nphr">
            <span class="icon-holder">
              <i class="c-indigo-500 ti-bar-chart"></i>
            </span>
            <span class="title">Analisis NPHR</span>
          </a>
        </li>
        <li class="nav-item">
          <a class='sidebar-link' href="/pemakaian-sendiri">
            <span class="icon-holder">
              <i class="c-light-blue-500 ti-pulse"></i>
            </span>
            <span class="title">Pemakaian Sendiri</span>
          </a>
        </li>
        <li class="nav-item">
          <a class='sidebar-link' href="/maturity-level">
            <span class="icon-holder">
              <i class="c-purple-500 ti-stats-up"></i>
            </span>
            <span class="title">Maturity Level</span>
          </a>
        </li>
        <li class="nav-item">
          <a class='sidebar-link' href="/laporan">
            <span class="icon-holder">
              <i class="c-red-500 ti-files"></i>
            </span>
            <span class="title">Laporan</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="sidebar-link" href="/download">
            <span class="icon-holder">
              {{!-- <i class="fas fa-download text-primary-faded"></i>  --}}
              <span class="ti-download"></span>
            </span>
            <span class="title">Download</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- #Main ============================ -->
  <div class="page-container">
    <!-- ### Topbar ### -->
    <div class="header navbar">
      <div class="header-container">
        <ul class="nav-right">
          <li class="notifications mr-3">
            <a href="/auth/signout">
              Logout
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- ### Screen Content ### -->
    <main class='main-content bgc-grey-100'>
      <div id='mainContent'>
        <div class="row gap-20 masonry pos-r">
          <div class="masonry-sizer col-md-6"></div>
          <div class="masonry-item col-12">
            <div class="mb-2">
              <a href="/input-maturity-level" class="btn btn-primary btn-lg float-sm-right mL-10">Input Data Realisasi
                ML</a>
              <a href="/input-maturity-level-target" class="btn btn-primary btn-lg float-sm-right">Input Data Target
                ML</a>
              <h3 class="c-grey-900 mL-10 mB-20">Maturity Level</h3>
            </div>
            <div class="bgc-white bd bdrs-3 p-20">
              <h4 class="mB-20">Rekapitulasi</h4>
              <form action="">
                <div class="form-group row">
                  <label for="semester" class="col-sm-1 col-form-label">Semester</label>
                  <div class="col-sm-2">
                    <select class="form-control" id="semester">
                      <option selected="selected">Pilih semester...</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                    </select>
                  </div>
                  <label for="tahun" class="col-sm-1 col-form-label">Tahun</label>
                  <div class="col-sm-2">
                    <div id="datepickerTahun" class="input-group date" data-date-format="yyyy">
                      <input id="tahun" class="form-control" type="text" readonly />
                      <div class="input-group-append">
                        <span class="input-group-text input-group-addon"><i class="ti-calendar"></i></span>
                      </div>
                    </div>
                  </div>
                  <label for="upk" class="col-sm-1 col-form-label">UPK</label>
                  <div class="col-sm-2">
                    <select id="upk" class="form-control">
                      <option selected="selected">Pilih UPK...</option>
                      <option value="upkBelawan">UPK Belawan</option>
                      <option value="upkPangkalanSusu">UPK Pangkalan Susu</option>
                      <option value="upkNaganRaya">UPK Nagan Raya</option>
                      <option value="upkLabuhanAngin">UPK Labuhan Angin</option>
                      <option value="updkPekanbaru">UPK Pekan Baru</option>
                      <option value="updkPandan">UPK Pandan</option>
                    </select>
                  </div>
                  <div class="form-group col-sm-2">
                    <button class="btn btn-primary">Tampilkan data</button>
                  </div>
                </div>
              </form>
              <table id="table-rekap-maturity" class="table mt-5" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>Unit Layanan Pusat Listrik (ULPL)</th>
                    <th>ML Target</th>
                    <th>ML Realisasi</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>
                      <a href="/maturity-level-x" class="btn btn-outline-primary btn-sm">Lihat detail</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>

  </div>
</div>
<script>
  $(document).ready(function () {
    $('#table-rekap-maturity').DataTable({
      searching: false
    });
    $("#datepickerTahun").datepicker({
      autoclose: true,
      todayHighlight: true,
      format: "yyyy",
      startView: "years",
      minViewMode: "years"
    }).datepicker('update', new Date());
  });
</script>