<!-- ### Screen Content ### -->
<main class='main-content bgc-grey-100'>
  <div id='mainContent'>
    <div class="row gap-20 masonry pos-r">
      <div class="masonry-sizer col-md-6"></div>
      <div class="masonry-item col-12">
        <div class="mb-3">
          <a href="/input-pemakaian-sendiri" class="btn btn-primary btn-lg float-sm-right">Input Data Pemakaian
            Sendiri</a>
          <h3 class="c-grey-900 mL-10 mB-20">Pemakaian Sendiri</h3>
        </div>
        <div class="bgc-white bd bdrs-3 mT-20 p-20">
          <h4 class="c-grey-900 mB-20">Data Pemakaian Sendiri</h4>
          <form action="">
            <div class="form-group row">
              <label for="tahun" class="col-sm-1 col-form-label">Tahun</label>
              <div class="col-sm-2">
                <div id="datepickerTahun" class="input-group date" data-date-format="yyyy">
                  <input id="tahun" class="form-control" type="text" readonly />
                  <div class="input-group-append">
                    <span class="input-group-text input-group-addon"><i class="ti-calendar"></i></span>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-2">
                <button class="btn btn-primary">Tampilkan data</button>
              </div>
            </div>
          </form>
          <div class="row">
            <div class="col-12">
              <h5 class="mB-20">Pemakaian Sendiri Per UPK</h5>
              <table id="table-persentase-pemakaian-sendiri" class="table table-sm" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>UPK</th>
                    <th>Jan</th>
                    <th>Feb</th>
                    <th>Mar</th>
                    <th>April</th>
                    <th>Mei</th>
                    <th>Juni</th>
                    <th>Juli</th>
                    <th>Agt</th>
                    <th>Sep</th>
                    <th>Okt</th>
                    <th>Nov</th>
                    <th>Des</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row mT-15">
            <div class="col-12">
              <h5 class="mB-20">Pemakaian Sendiri Per Jenis Pembangkit</h5>
              <table id="table-persentase-pemakaian-sendiri" class="table table-sm" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>Jenis Pembangkit</th>
                    <th>Jan</th>
                    <th>Feb</th>
                    <th>Mar</th>
                    <th>April</th>
                    <th>Mei</th>
                    <th>Juni</th>
                    <th>Juli</th>
                    <th>Agt</th>
                    <th>Sep</th>
                    <th>Okt</th>
                    <th>Nov</th>
                    <th>Des</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row mT-15">
            <div class="col-md-6">
              <div class="layer">
                <canvas id="pemakaian-chart-per-upk"></canvas>
              </div>
            </div>
            <div class="col-md-6">
              <div class="layer">
                <canvas id="pemakaian-chart-home"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<script>
  $(function () {
    $("#datepickerTahun").datepicker({
      autoclose: true,
      todayHighlight: true,
      format: "yyyy",
      startView: "years",
      minViewMode: "years"
    }).datepicker('update', new Date());
  });
  new Chart(document.getElementById("pemakaian-chart-per-upk"), {
    type: 'pie',
    data: {
      labels: ["UPK Belawan", "UPK Pangkalan Susu", "UPK Nagan Raya"],
      datasets: [{
        label: "Percentage",
        backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
        data: [81, 4, 1]
      }]
    },
    options: {
      title: {
        display: false
      },
      tooltips: {
        mode: 'label',
        callbacks: {
          label: function (tooltipItem, data) {
            return data['datasets'][0]['data'][tooltipItem['index']] + '%';
          }
        }
      },
      legend: {
        position: 'right'
      }
    }
  });
  new Chart(document.getElementById("pemakaian-chart-home"), {
    type: 'pie',
    data: {
      labels: ["PLTU Batubara", "PLTG Gas", "PLTU Gas", "PLTD Gas", "PLTD Minyak"],
      datasets: [{
        label: "Percentage",
        backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
        data: [81, 2, 4, 4, 1]
      }]
    },
    options: {
      title: {
        display: false
      },
      tooltips: {
        mode: 'label',
        callbacks: {
          label: function (tooltipItem, data) {
            return data['datasets'][0]['data'][tooltipItem['index']] + '%';
          }
        }
      },
      legend: {
        position: 'right'
      }
    }
  });
</script>