<!-- ### Screen Content ### -->
<main class='main-content bgc-grey-100'>
  <div id='mainContent'>
    <div class="row gap-20 masonry pos-r">
      <div class="masonry-sizer col-md-6"></div>
      <div class="masonry-item col-12">
        <div class="mb-2">
          <a href="/maturity-level/realisasi" class="btn btn-primary btn-lg float-sm-right mL-10">Input Data Realisasi
            ML</a>
          <a href="/maturity-level/target" class="btn btn-primary btn-lg float-sm-right">Input Data Target
            ML</a>
          <h3 class="c-grey-900 mL-10 mB-20">Maturity Level</h3>
        </div>
        <div class="bgc-white bd bdrs-3 p-20">
          <h4 class="mB-20">Rekapitulasi</h4>
          <form action="">
            <div class="form-group row">
              <label for="semester" class="col-sm-1 col-form-label">Semester</label>
              <div class="col-sm-2">
                <select class="form-control" id="semester">
                  <option selected="selected">Pilih semester...</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                </select>
              </div>
              <label for="tahun" class="col-sm-1 col-form-label">Tahun</label>
              <div class="col-sm-2">
                <div id="datepickerTahun" class="input-group date" data-date-format="yyyy">
                  <input id="tahun" class="form-control" type="text" readonly />
                  <div class="input-group-append">
                    <span class="input-group-text input-group-addon"><i class="ti-calendar"></i></span>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-2">
                <button class="btn btn-primary">Tampilkan data</button>
              </div>
            </div>
          </form>
          <table id="table-rekap-maturity" class="table mt-5" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>Unit Pelaksana Pembangkit (UPK)</th>
                <th>ML Target</th>
                <th>ML Realisasi</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>
                  <a href="/maturity-level/detail" class="btn btn-outline-primary btn-sm">Lihat detail</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
<script>
  $(document).ready(function () {
    $('#table-rekap-maturity').DataTable({
      searching: false
    });
    $("#datepickerTahun").datepicker({
      autoclose: true,
      todayHighlight: true,
      format: "yyyy",
      startView: "years",
      minViewMode: "years"
    }).datepicker('update', new Date());
  });
</script>