<!-- ### Screen Content ### -->
<main class='main-content bgc-grey-100'>
  <div id='mainContent'>
    <div class="row gap-20">
      <div class="col-md-8">
        <h3 class="c-grey-900 mB-15">Input Target Maturity Level</h3>
        <form method="POST">
          <div class="bgc-white bd bdrs-3 p-20">
            <div class="form-group row">
              <label for="semester" class="col-sm-5 col-form-label">Semester</label>
              <div class="col-sm-7">
                <select name="semester" class="form-control" id="semester" required>
                  <option selected="selected">Pilih semester...</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="tahunMaturity" class="col-sm-5 col-form-label">Tahun</label>
              <div class="col-sm-7">
                <div id="datepickerTahun" class="input-group date" data-date-format="yyyy">
                  <input name="tahun" id="tahunMaturity" class="form-control" type="text" readonly required/>
                  <div class="input-group-append">
                    <span class="input-group-text input-group-addon"><i class="ti-calendar"></i></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="upk" class="col-sm-5 col-form-label">Unit Pelaksana Pembangkit (UPK)</label>
              <div class="col-sm-7">
                <select name="upk" id="upk" class="form-control" required>
                  <option disabled hidden selected>Pilih UPK...</option>
                  {{#each units}}
                  <option value="{{this.username}}">{{this.name}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
            <h5 class="mT-25">Target ML Per Sub Area</h5>
            <div class="form-group row">
              <label for="targetPengumpulanDataEfisiensi" class="col-sm-5 col-form-label">Pengumpulan Data
                Efisiensi</label>
              <div class="col-sm-7">
                <input name="pengumpulanDataEfisiensi" type="number" step="0.0001" class="form-control" id="targetPengumpulanDataEfisiensi" placeholder="" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="targetPerhitunganPerformanceTest" class="col-sm-5 col-form-label">Perhitungan Performance
                Test</label>
              <div class="col-sm-7">
                <input name="perhitunganPerformanceTest" type="number" step="0.0001" class="form-control" id="targetPerhitunganPerformanceTest" placeholder="" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="targetPemodelan" class="col-sm-5 col-form-label">Pemodelan</label>
              <div class="col-sm-7">
                <input name="pemodelan" type="number" step="0.0001" class="form-control" id="targetPemodelan" placeholder="" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="targetHeatRateAnalysis" class="col-sm-5 col-form-label">Heat Rate Analysis</label>
              <div class="col-sm-7">
                <input name="heatRateAnalysis" type="number" step="0.0001" class="form-control" id="targetHeatRateAnalysis" placeholder="" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="targetAuxilliary" class="col-sm-5 col-form-label">Auxilliary Power Analysis</label>
              <div class="col-sm-7">
                <input name="auxiliaryPowerAnalysis" type="number" step="0.0001" class="form-control" id="targetAuxilliary" placeholder="" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="targetRekomendasi" class="col-sm-5 col-form-label">Rekomendasi</label>
              <div class="col-sm-7">
                <input name="rekomendasi" type="number" step="0.0001" class="form-control" id="targetRekomendasi" placeholder="" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="targetPelaporanEfisiensi" class="col-sm-5 col-form-label">Pelaporan Efisiensi</label>
              <div class="col-sm-7">
                <input name="pelaporanEfisiensi" type="number" step="0.0001" class="form-control" id="targetPelaporanEfisiensi" placeholder="" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="targetMonitoring" class="col-sm-5 col-form-label">Monitoring Post Program</label>
              <div class="col-sm-7">
                <input name="monitoringPostProgram" type="number" step="0.0001" class="form-control" id="targetMonitoring" placeholder="" required>
              </div>
            </div>
          </div>

          <div class="form-group row mT-30 text-right">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-primary">Simpan</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
<script>
  $(function () {
    $('#jenisPembangkitSelector').change(function () {
      $('.pembangkit-form').hide();
      $('#' + $(this).val()).show();
    });
    $("#datepickerTahun").datepicker({
      autoclose: true,
      todayHighlight: true,
      format: "yyyy",
      startView: "years",
      minViewMode: "years"
    }).datepicker('update', new Date());
  });
</script>